<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Oh ya</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <style type="text/css">
    body {
      padding-top: 50px;
    }
    h1,h2,h3 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .jumbotron {
      padding: 15px 30px
    }
    .content-body {
      font-size: 15pt
    }
  </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Go Wiki</a>
      </div>
      <div class="navbar-collapse collapse">
      </div>
    </div>
  </div>
  <!-- Content start -->
  {{.Content}}
</body>
</html>
